.error {
    color: firebrick;
    padding-bottom: 5px;
}


 .parent {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 50px;
    justify-items: center;
    align-items: center;
    margin-top: 100px;
 }

 .parent > div > a {
    min-width: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
 }

 .parent:only-child {
    background-color: lightblue;
    
}

.flex-container {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to the next row */
    justify-content: space-between; /* Distribute items evenly within rows */
    align-items: center;
}

.flex-item {
    flex-basis: calc(50% - 10px); /* Two items per row with 10px spacing */
    margin: 5px; /* Add a small margin between items */
    align-self: center;
    justify-self: center;
    /* Additional styling for flex items */
}

.flex-container:only-child  {
    display: flex; /* Make it take up the entire row */
}


 p {
    text-align: center;
}

header > .flex-container {
    display: flex;
    justify-content: space-between;

}

header {
    padding: 20px !important;
}

.infinity {
    font-size: 50px;
}